@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #0e1714;
  --color-accent-green: #a9de59;
  --color-dark-bg: #0e1714;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--color-accent-green);
  --color-dark: var(--color-dark-bg);
  --font-rajdhani: var(--font-rajdhani);
  --font-dm-sans: var(--font-dm-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-rajdhani), sans-serif;
}